asgiref==3.2.10
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
dateparser==0.7.6
dj-database-url==0.5.0
Django==3.1
django-heroku==0.3.1
heroku==0.1.4
humanize==2.6.0
idna==2.10
maya==0.6.1
numpy==1.19.1
pandas==1.1.1
pendulum==2.1.2
psycopg2==2.8.5
PyJWT==1.7.1
python-dateutil==1.5
pytz==2020.1
pytzdata==2020.1
regex==2020.7.14
requests==2.24.0
six==1.15.0
snaptime==0.2.4
soupsieve==2.0.1
sqlparse==0.3.1
twilio==6.45.0
tzlocal==2.1
urllib3==1.25.10
whitenoise==5.2.0
